* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.container {
    width: 1366px;
    height: 100%;
    margin: 0 auto;
}

.container-without-footer {
    min-height: 100%;
}

.slider {
    height: 800px;
    background-image: url(img/slider_img.jpg);
    position: relative;
}

.header {
    padding-top: 63px;
}

.menu {
    float: right;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;

    padding: 10px 13px;
}

.menu-link:hover {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.menu-link-active {
    font-weight: 700;
    color: #212121;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.slider-text {
    padding-top: 283px;
}

.slider-trending {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #43a047;
    margin-bottom: 12px;
}

.slider-h2 {
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
    color: #212121;
    width: 490px;
    line-height: 72px;
}

.slider-content {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #6c6c6c;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 22px;
}

.button {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;

    width: 212px;
    height: 45px;
    line-height: 45px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    border-radius: 22.5px;

    letter-spacing: 3.6px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.button::after {
    content: url(img/arrow.svg);
    margin-left: 22px;
}

.pagination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0px;
}

.circle:hover {
    background-color: #212121;
}

/* второй экран */

.products {
    margin-top: 120px;
}

.items-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.categories {
    display: flex;
    list-style-type: none;
}

.category {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #6c6c6c;
    text-decoration: none;

    padding: 20px 15px;
    border-bottom: 1px solid #6c6c6c;
}

.category-active {
    color: #212121;
    border-bottom: 3px solid #212121;
    padding-bottom: 18px;
}

.button-all {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;

    text-decoration: none;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

/* третий экран */

.exclusive {
    margin-top: 120px;
    display: flex;
}

.exclusive1 {
    width: 683px;
    height: 683px;
    background-image: url(img/exclusive1.png);
    padding-left: 52px;
    box-sizing: border-box;
}

.exclusive2 {
    padding-left: 52px;
    width: 683px;
    height: 683px;
    background-image: url(img/exclusive2.png);
    box-sizing: border-box;
}

.exclusive-exclusive {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
    padding-top: 228px;
    margin-bottom: 8px;
}

.h3 {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
}

.exclusive-content {
    margin-top: 14px;
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    width: 374px;
    margin-bottom: 24px;
}

/* четвертый экран */

.trending-products {
    margin-top: 120px;
}

/* пятый экран */

.slider2 {
    margin-top: 120px;
    height: 800px;
    background-image: url(img/slider2.png);
    position: relative;
}

.slider2-hot-deal {
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #e53935;
}

/* шестой экран */

.any-products {
    margin-top: 120px;
    /* display: flex; */
}

.exclusive3 {
    padding-left: 30px;
    width: 570px;
    height: 570px;
    background-image: url(img/exclusive3.png);
    box-sizing: border-box;
    float: left;
    margin-right: 30px;
}

.exclusive2-exclusive {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
    padding-top: 186px;
    margin-bottom: 8px;
}

.exclusive2-content {
    margin-top: 14px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    width: 332px;
    margin-bottom: 24px;
}

.item-margin {
    margin-bottom: 30px;
}

/* седьмой экран */

.mobile-app {
    margin-top: 120px;
    width: 1366px;
    height: 516px;
    background-image: url(img/back-mobile-app.png);
    box-sizing: border-box;
}

.mobile-app-mobile-app {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
    padding-top: 125px;
    margin-bottom: 22px;
}

.mobile-app-content {
    font-size: 22px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    width: 458px;
    margin-top: 16px;
    margin-bottom: 33px;
}

/* footer */

.clr {
    height: 420px;
}

.footer {
    background-color: rgba(247, 247, 247, 1);
    width: 1368px;
    height: 420px;
    box-sizing: border-box;
    padding-bottom: 30px;
    margin-top: -420px;
    clear: both;

}

.footer_top {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

.h4 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
    margin-bottom: 24px;
}

.contact {
    width: 221px;
    margin-right: 80px;
}

.contact-link {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
    margin-bottom: 26px;
    text-decoration: none;
    display: inline-block;
}

.information {
    width: 422px;
    margin-right: 80px;
}

.blocks_a {
    display: flex;
    justify-content: space-between;
}

.information-link {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #212121;
    text-decoration: none;
    display: inline-block;
}

.stay_in_touch {
    width: 372px;
    position: relative;
}

.stay_in_touch-text {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
    text-decoration: none;
    margin-bottom: 26px;
}

.input-stay_in_touch {
    width: 370px;
    height: 48px;
    border: 1px solid #d9dee1;
    padding-left: 20px;
}

.img-plane {
    background-image: url(img/plane.png);
    background-repeat: no-repeat;
    border: none;
    background-color: #ffffff;
    position: absolute;
    bottom: 35px;
    right: 0px;
}

.img-plane:hover {
    cursor: pointer;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.footer_bottom-text {
    font-size: 12px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #6c6c6c;
    text-decoration: none;
}

/* hover effect */

.content {
    position: relative;
    width: 270px;
    box-sizing: border-box;
}

.content-overlay {
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    width: 206px;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s;
    left: 20%;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3 {
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    color: #212121;
    margin-top: 9px;
    margin-bottom: 13px;
}

.content-details p {
    color: #fff;
    font-size: 0.8em;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #6c6c6c;
}

/* content2 для блоков 360px */

.content2 {
    position: relative;
    width: 360px;
    box-sizing: border-box;
}

.content-overlay {
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
}

.content2:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 100%;
}

.content-details2 {
    position: absolute;
    text-align: center;
    width: 306px;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s;
    left: 20%;
}

.content2:hover .content-details2 {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details2 h3 {
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    color: #212121;
    margin-top: 9px;
    margin-bottom: 13px;
}

.content-details2 p {
    color: #fff;
    font-size: 0.8em;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #6c6c6c;
}

/* вторая траница с товаром */

.additional-menu {
    display: flex;
    justify-content: space-between;
    /* height: 70px; */
    background-color: #f4f4f4;
    margin-top: 30px;
    padding: 27px 360px;
    margin-bottom: 72px;
}

.additional-menu-list {
    list-style-type: none;
}

.additional-menu-link {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
    text-decoration: none;
}

.additional-menu-link:hover {
    color: #212121;
}

.additional-menu-link-active {
    color: #212121;
}

.commodity {
    display: flex;
    align-items: center;
}

.coomodity-images {
    margin-right: 56px;
}

.commodity-controll {
    display: flex;
    justify-content: center;
}

.commodity-controller {
    padding: 10px 5px 0;
}

.commodity-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price {
    font-size: 36.1px;
    line-height: 48px;
    font-weight: 300;
    color: #212121;
    margin-top: 19px;
    margin-bottom: 31px;
}

.price-number {
    font-size: 72.1px;
    text-transform: uppercase;
}

.button-red {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    text-decoration: none;

    padding: 23px 158px;
    background-color: #f44336;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    border-radius: 35px;
    margin-bottom: 49px;
}

.button-red::after {
    content: url(img/arrow2.svg);
    margin-left: 28px;
}

.commodity-description {
    margin-bottom: 10px;
    font-size: 16.1px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #212121;
    width: 499px;
}

.related-products {
    margin-top: 245px;
    margin-bottom: 120px;
}

.related-menu {
    margin-bottom: 71px;
}

/* третья страница - контакты */

.head {
    background-color: #f5f5f5;
    margin-bottom: 71px;
}

.head__h2 {
    font-size: 62px;
    line-height: 72px;
    font-weight: 100;
    color: #212121;
    margin-top: 170px;
    padding-bottom: 50px;
}

.contact-blocks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 122px;
}

.contact-blocks__block {
    /* width: 370px;
    height: 370px; */
    opacity: 0.9;
    border: 1px solid #9c9c9c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.icon-geo {
    margin-bottom: 24px;
}

.contact-blocks__h3 {
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 3px;
}

.contact-blocks__text {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #212121;
}

.contact-blocks__h5 {
    margin-top: 10px;
    color: #6c6c6c;
}

.contact-blocks__span {
    color: #212121;
    font-weight: 300;
}

/* четвертый экран - наши продукты */

.additional-menu2 {
    display: flex;
    margin-bottom: 50px;
}

.additional-menu2-list {
    list-style-type: none;
    padding-bottom: 10px;
    /* margin-right: 45px; */
}

.additional-menu2-link {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
    text-decoration: none;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-left: 6px;
}

.additional-menu2-list:first-child,
.additional-menu2-list:nth-child(2),
.additional-menu2-list:nth-child(3) {
    border-bottom: 1px solid #6c6c6c;
}

.additional-menu2-link:hover {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.additional-menu2-link-active {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.icon-load {
    display: block;
    margin: 71px auto 20px;
}